@import "../../../../styles/globals/colors.scss";

.NavMenuDesktop {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 600px;

    a {
        color: #000;
        transition: color 0.2s ease;
        &:hover {
            color: $primary;
        }
    }
}