.MenuToggle {
    display: none;
}

@media screen and (max-width: 1200px) {
    .MenuToggle {
        display: block;
        background: none;
        border: none;
        width: 35px;
        height: 35px;
        cursor: pointer;

        .navToggleButton {
            width: 35px;
            height: 35px;
        }
    
        span {
            display: block;
            width: 35px;
            height: 5px;
            background-color: #000;
            margin: 6px 0;
            transition: 0.4s;
            border-radius: 5px;
          }
        .bar1Active {
            -webkit-transform: rotate(-45deg) translate(-9px, 6px) ;
            transform: rotate(-45deg) translate(-9px, 6px) ;
        }
      
        .bar2Active {
            opacity: 0;
        }
      
        .bar3Active {
            -webkit-transform: rotate(45deg) translate(-8px, -8px) ;
            transform: rotate(45deg) translate(-8px, -8px) ;
        }
        
    }
}