.NavMenuMobile {
    display: flex;
    position: absolute;
    top: 0;
    right: 0;
    justify-content: center;
    align-items: center;
    width: 300px;
    height: 100vh;
    z-index: 90;
    background: #6d8891;
    ul {
        list-style-type: none;
        width: 100%;
        overflow: hidden;
        li {
        width: 100%;
        transition: all 0.2s ease;
        a {
            display: block;
            padding: 15px 30px;
            color: #fff;
            font-size: 1.5rem;
            font-weight: 300;
            transition: all 0.2s ease;
            width: 100%;
        }
        &:hover {
            a {
            color: #cda20b;
            
            cursor: pointer;
            }
        }
        }
    }
}